.detail-form1 {
    margin-top: 50px;
    border: 1px solid black;

}

.btnFunction {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1250px;
    right: -350px;


}

.btnEdit {
    width: 150px;
    position: absolute;
    bottom: 35px;


}

.btnBorrar {
    width: 150px;
    position: absolute;
    bottom: 35px;
    right: 705px;
}

.btnFav {
    width: 150px;
    position: absolute;
    top: -185px;
    right: 1015px;
}

.btnDesfavorito {
    width: 160px;
    position: absolute;
    top: -190px;
    right: 853px;
}

.btnSend {
    width: 150px;
}

.btnGoBack {
    width: 150px;
    position: absolute;
    top: 1500px;
    right: 50%;

}

.place-button1 {
    width: 150px;
    height: 200px;
    align-items: center;

}

.formFrame {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;

}


.text-frame {
    padding: 15px;
    position: absolute;
    left: 100px;
    color: #4d97a0;
    text-decoration: none;
    padding-top: 50px;
    height: 900px;
    width: 900px;

}

.text-frame h1 {
    color: #e57601;
    padding-bottom: 30px;
    padding-top: 20px;
    text-transform: uppercase;
}

.text-frame h2 {
    padding-bottom: 5px;
    padding-top: 5px;
}

.picturePlace {
    width: 500px;
    position: absolute;
    bottom: -210px;
    right: -105px;

}

.mapit {
    position: absolute;
    bottom: 300px;
    right: -1010px;
    top: 230px;

}

.commentsForm {
    font-size: 1.3em;
    position: absolute;
    top: auto;
    left: 295px;
    width: 80;
    top: 1150px;
}