.login {
    background-color: #e57601;
    border-radius: 15px;
    height: 350px;
    width: 600px;
    position: relative;
    overflow: hidden;
    padding: 15px;
    margin-top: 120px;
    margin-left: 330px;
}

.text {
    color: #ffffff;
    text-decoration: none;
    text-decoration: solid;
}

.but {
    background-color: #e57601;
}