.navigation {
    padding: 70px 180px;
    display: flex;
    justify-content: center;
    background-color: #2b5865;
    height: 180px;

}

.text-Profile {
    justify-content: end;
    color: #ffffff;
    text-decoration: none;
    margin-top: 65px;
    margin-right: 25px;
    font-size: 1.3em;

}

.text-List {
    justify-content: end;
    color: #ffffff;
    text-decoration: none;
    margin-top: 65px;
    margin-right: 25px;
    font-size: 1.3em;

}

.text-LogOut {
    justify-content: end;
    color: #ffffff;
    text-decoration: none;
    margin-top: 65px;
    margin-right: 25px;
    font-size: 1.3em;

}

.text-currentUser {
    padding: 40px 10px;
    color: hwb(0 99% 1%);
    text-decoration: none;
    margin-right: 230px;
    font-size: 3em;
    line-break: loose;


}

.text-currentUser2 {
    padding: 40px 10px;
    color: hwb(0 99% 1%);
    text-decoration: none;
    margin-right: 140px;
    font-size: 3em;
    line-break: loose;


}

.que {
    color: #ffa700;
    text-decoration: none;

}

.signup {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    color: #f7f5f3;
    text-decoration: none;
    margin-right: 50px;
    font-size: 1.3em;
}

.loginNavi {
    align-items: center;
    color: #ffa700;
    text-decoration: none;
    margin-right: 50px;
    font-size: 1.3em;
}

.logoQQ {
    width: 300px;
    position: absolute;
    bottom: 30px;
    left: 300px;
    top: -55px
}