.newplace {

    background-color: #2b5865;
    border-radius: 15px;
    height: 1150px;
    width: 400px;
    position: relative;
    overflow: hidden;
    padding: 15px;
    margin-top: 30px;
    margin-left: -4px;
}

.textPlaceForm {
    color: #ffffff;
    text-decoration: none;
    text-decoration: solid;
}

.BtnPlaceForm {
    color: #ffffff;
}

.btnCreate {
    width: 150px;

}

.create {
    background-color: #2b5865;
    border: none;
    height: 90px;
    position: absolute;
    left: 10px;
    top: 970px
}