.radnom-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 20px;
}

.qqbtn {
    width: 320px;
    position: absolute;
    left: 780px;
    bottom: -80px;
}